/* Main page classes */

body {
  color: #2d2d2d;
  background-color: #fff;
  transition: all 0.5s;
}

.container {
  max-width: 737px;
  margin: 0 auto;
}

/* Header classes */

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 58px;
}

.options {
  display: flex;
  gap: 26px;
  align-items: center;
}

.select-box {
  width: 120px;
  height: 24px;
  position: relative;
  font-size: 18px;
  font-weight: bold;
}

.select-box svg {
  width: 12px;
  height: 6px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  cursor: pointer;
}

.font-selected {
  border: none;
  width: 120px;
  height: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.font-options {
  width: 183px;
  height: 152px;
  background-color: #fff;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding-top: 24px;
  padding-left: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: absolute;
  top: calc(24px + 10.5px);
  right: 0;
  z-index: 1;
}

.font-options div {
  cursor: pointer;
  transition: all 0.2s;
  width: fit-content;
}

.font-options div:hover {
  color: #a445ed;
}

.line {
  width: 1px;
  height: 32px;
  background-color: #e9e9e9;
}

.dark-mode-option {
  display: flex;
  gap: 20px;
  align-items: center;
}

.switch-dark-mode {
  display: flex;
  align-items: center;
}

.moon {
  width: 20px;
  height: 20px;
}

.switch-dark-mode input[type='checkbox'] {
  appearance: none;
  width: 40px;
  height: 20px;
  background-color: #979797;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

.switch-dark-mode input[type='checkbox']:hover {
  background-color: #a445ed;
}

.switch-dark-mode input[type='checkbox']::after {
  content: '';
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 3px;
  left: 3px;
  transition: 0.3s all;
}

.switch-dark-mode input[type='checkbox']:checked {
  background-color: #a445ed;
}

.switch-dark-mode input[type='checkbox']:checked::after {
  left: 23px;
}

/* Search section */

.search-section {
  position: relative;
  margin-top: 51.5px;
}

.search-section input[type='text'] {
  width: 100%;
  height: 64px;
  border-radius: 16px;
  background-color: #f4f4f4;
  border: none;
  padding: 0 24px;
  caret-color: #a445ed;
  font-size: 20px;
  font-weight: bold;
  font-family: inherit;
  transition: all 0.3s;
}

.search-section input[type='text']:focus-visible {
  outline: 1px solid #a445ed;
}

.search-section svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 24px;
  width: 15.55px;
  height: 15.55px;
  cursor: pointer;
}

.search-section.not-valid input[type='text'] {
  border: 1px solid #ff5252;
  position: relative;
}

.search-section.not-valid::after {
  content: 'Whoops, can’t be empty…';
  position: absolute;
  bottom: -32px;
  left: 0;
  font-size: 20px;
  color: #ff5252;
}

.search-section.not-valid input[type='text']:focus-visible {
  outline: none;
}

/* Data fetched */

.api-data {
  margin-top: 45px;
  margin-bottom: 125px;
}

.data-fetched {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.data-header {
  height: 114px;
  position: relative;
}

.data-header h1 {
  font-size: 64px;
  margin-bottom: 8px;
}

.data-header p {
  font-size: 24px;
  color: #a445ed;
}

.data-header .sound-icon {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  cursor: pointer;
}

.data-header .sound-icon:hover circle {
  opacity: 1;
}

.data-header .sound-icon:hover path {
  fill: #fff;
}

.meaning-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.meaning {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.meaning-header {
  position: relative;
}

.meaning-header h3 {
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
}

.meaning-line {
  /* width: 656px; */
  width: 81%;
  height: 1px;
  background-color: #e9e9e9;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.meanings .meaning-word {
  margin-bottom: 25px;
  font-size: 20px;
  color: #757575;
}

.meanings .definition {
  margin-bottom: 13px;
  font-size: 18px;
  line-height: 24px;
  margin-left: 22px;
}

.meanings .definition p {
  /* display: inline-block; */
  margin-left: 25px;
  width: 689px;
  position: relative;
}

.meanings .definition .example {
  margin-left: 25px;
  margin-top: 13px;
  color: #757575;
}

.meanings .definition p::before {
  content: '';
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #8f19e8;
  position: absolute;
  top: 10px;
  left: -25px;
}

.synonyms {
  font-size: 20px;
  color: #757575;
}

.synonyms span {
  margin-left: 22px;
  color: #a445ed;
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
}

.source {
  font-size: 14px;
  color: #757575;
  height: 37px;
  display: flex;
  align-items: flex-end;
  position: relative;
}

.source::before {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #e9e9e9;
  position: absolute;
  top: 0;
}

.source p {
  text-decoration: underline;
  text-decoration-color: #757575;
}

.source a {
  margin-left: 20px;
  color: #2d2d2d;
  text-decoration-color: #757575;
}

.source svg {
  margin-left: 9px;
  margin-bottom: 2px;
}

/* Error message section */

.error-message {
  height: 204px;
  margin-top: 132px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.error-message .sad-face {
  width: 64px;
  height: 64px;
}

.error-message h2 {
  font-size: 20px;
}

.error-message p {
  text-align: center;
  font-size: 18px;
  line-height: 24px;
}

/* Dark mode classes */

.dark-mode {
  color: #fff;
  background-color: #050505;
}

.stroke-dark-mode {
  stroke: #a445ed;
}

.dark-mode .font-options {
  background-color: #1f1f1f;
  box-shadow: 0 5px 30px #a445ed;
  transition: all 0.5s;
}

.dark-mode .search-section input[type='text'] {
  background-color: #1f1f1f;
  color: #fff;
}

.dark-mode .source a {
  color: #fff;
}

/* Font options classes */

.hidden {
  display: none;
}

.sans {
  font-family: 'Inter', sans-serif;
}

.serif {
  font-family: 'Lora', serif;
}

.mono {
  font-family: 'Inconsolata', monospace;
}

/* responive design */

@media (max-width: 768px) {
  body {
    padding: 0 24px;
  }

  .meanings .definition {
    line-break: auto;
    margin-left: 0;
  }

  .meanings .definition p {
    max-width: 768px;
    width: calc(100% - 25px);
  }
}

@media (max-width: 450px) {
  .data-header h1 {
    font-size: 44px;
  }
}

@media (max-width: 375px) {
  body {
    padding: 0 24px;
  }

  .main-header {
    margin-top: 24px;
  }

  .options {
    gap: 16px;
  }

  .select-box {
    font-size: 14px;
    width: 98px;
  }

  .font-selected {
    width: 98px;
  }

  .font-options {
    width: 140px;
    height: 135px;
  }

  .search-section input[type='text'] {
    font-size: 16px;
  }

  .search-section.not-valid::after {
    font-size: 16px;
  }

  .data-header {
    height: 68px;
  }

  .data-header h1 {
    font-size: 32px;
  }

  .data-header p {
    font-size: 18px;
  }

  .data-header .sound-icon {
    width: 48px;
    height: 48px;
  }

  .meaning-line {
    width: 81%;
  }

  .meaning-header h3 {
    font-size: 18px;
  }

  .meanings .meaning-word {
    font-size: 16px;
  }

  .meanings .definition {
    font-size: 15px;
  }

  .meanings .definition p {
    max-width: 375px;
  }

  .synonyms {
    font-size: 16px;
  }

  .source {
    flex-direction: column;
    align-items: flex-start;
    width: 281px;
    height: 42px;
  }

  .source a {
    margin-left: 0;
    margin-top: 8px;
  }

  .source svg {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .source::before {
    top: -24px;
  }
}
